﻿
@{
    ViewBag.Title = "Travel";
}

<h2>Travel</h2>
<div class="container">
    <div class="col-lg-3">
        <div class="form-group">
            <label for="addressInput">Address</label>
            <input type="text" class="form-control" name="addressInput" id="addressInput" placeholder="1234 Somewhere St" />

            <label for="cityInput">City</label>
            <input type="text" class="form-control" name="cityInput" id="cityInput" placeholder="City Name" />

            <label for="stateInput">State</label>
            <input type="text" class="form-control" name="stateInput" id="stateInput" placeholder="Full or Abbreviation"/>

            <label for="zipInput">Zip Code</label>
            <input type="text" class="form-control" name="zipInput" id="zipInput" placeholder="US Only" pattern="[0-9]{5}"  />
            <br />
            <button type="submit" id="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    <div class="col-lg-3" style="float:left">
        <div class="travelResults"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/TravelSearch.js"></script>
    }

